doctype html
html(lang="en")
    head
        title= GameBubble
        link(href='main.css', rel='stylesheet')
    body
        #gameplay
            #start
                button.one-player.pl(
                    type='button'
                    data-number=1
                    onclick="newGame(this.getAttribute('data-number'))"
                    ) 1 player
                button.two-player.pl(
                    type='button'
                    data-number=2
                    onclick="newGame(this.getAttribute('data-number'))"
                    ) 2 players
                #tips Player 1 use arrow keys - Player 2 use w, a, s, d
        #end
            .title Looser
            button.restart(
            type='button'
            onclick="restart()"
            ) Restart
        script(async src='game.js')

